:root {
	--text-color: black;
	--font: "Quicksand", sans-serif;
	--font-color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f6f6f6ff;
	font-family: var(--font);
	color: #000;
}

input,
textarea,
button {
	font-family: var(--font);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	color: var(--text-color);
	font-family: var(--font);
	font-size: 5rem;
	color: white;
	font-weight: 550;
	margin-bottom: 25px;
}

h2 {
	margin: 2rem 0;
	color: var(--font-color);
}

li a p {
	color: black;
	display: inline-block;
	flex-direction: row;
	margin-left: 30px;
	margin-right: 5px;
}

.heikki {
	margin-left: -12.6rem;
	margin-top: 1.8rem;
	line-height: 1;
	text-align: left;
	font-size: 1.2rem;
	color: white;
}

a {
	text-decoration: none;
	color: var(--text-color);
	display: block;
}

a:hover {
	filter: brightness(125%);
	font-weight: bold;
	border: solid 1px 1px 1px gray;
	color: goldenrod;
}

.background {
	background-color: #f6f6f6ff;
}

/**************** Header area ****************/

header {
	background: url("./Photos_portfolio/pexels-pixabay-210205.jpg") no-repeat
		fixed center center/cover;
}

.main_nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container {
	position: relative;
	padding: 0.3rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style-type: none;
	display: inline-block;
}

nav ul li {
	display: inline-block;
	/* padding: 0 1rem; */
	flex-direction: row;
	align-items: center;
}

header nav ul li a,
.logo a {
	text-decoration: none;
	color: white;
	padding-top: 5px;
	margin: 15px;
}

header nav ul li a p {
	color: white;
}

.logo a {
	font-size: 2rem;
}

.gallery {
	color: goldenrod;
}

/**************** Hero-Banner area ****************/

.hero-banner {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-banner h1 {
	font: var(--font);
	font-size: 5rem;
	color: black;
	text-align: center;
	font-weight: 550;
	margin-bottom: 25px;
}

.card {
	background-color: goldenrod;
	width: 20rem;
	height: 30rem;
	/* padding: 10px; */
	margin: 3rem;
}

.card img {
	height: 200px;
	width: 20rem;
	object-fit: cover;
	background-color: var(--text-color);
}

.card h3,
.card p {
	margin: 20px;
	text-align: center;
}

.card a {
	margin-top: 60px;
	margin-left: 30px;
}

.card:hover {
	filter: brightness(120%);
	transform: translate(0, 0.2rem);
	box-shadow: 0 4px 8px 0 #333;
}

/**************** Footer area ****************/

footer {
	background-color: #333;
	padding: 1rem;
	text-align: center;
	height: 90vh;
}

footer h2 {
	color: var(--font-color);
	font-family: var(--font);
}

.form-group {
	padding: 15px;
}

label {
	display: inline-block;
	width: 20%;
	color: #ff9b00;
	font-family: var(--font);
}

input,
textarea {
	padding: 1rem;
	border-radius: 5px;
	border: none;
	width: 30vw;
	font-family: var(--font);
	outline: none;
}

input[type="submit"] {
	width: 200px;
	background-color: #ff9b00;
	color: white;
	font-size: inherit;
	padding: 1rem;
	margin: 20px;
	font-family: var(--font);
}

input[type="submit"]:hover {
	filter: brightness(95%);
	transform: translate(0, 0.2rem);
	box-shadow: 0 4px 8px 0 lightgrey;
}

footer img {
	height: 2rem;
}

.footer-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding-top: 10px;
	border-radius: 3px;
}

.footer-icons img:hover {
	filter: brightness(85%);
	transform: translate(0, 0.2rem);
}

.footer-icons img {
	margin: 20px;
}

footer p {
	color: white;
	font-size: 10px;
}

/**************** Tablet support ****************/

@media only screen and (max-width: 899px) {
	header nav ul {
		text-align: right;
	}
	.hero-banner h3 {
		font-size: 3rem;
	}
	.box {
		padding: 1rem;
		margin: 1rem;
	}
	.content {
		flex-wrap: wrap;
	}
	.grid-container {
		grid-gap: 0.3rem;
		background-color: #f6f6f6ff;
		grid-template-columns: 1fr;
		grid-template-rows: 9fr;
	}
	.grid-container {
		height: 145vh;
		margin: 5rem 1rem;
		display: grid;
		grid-gap: 0.3rem;
		background-color: #f6f6f6ff;
		grid-template-columns: 3fr;
		grid-template-rows: 3fr;
		grid-template-areas:
			"img1 img2 img3"
			"img4 img5 img6"
			"img7 img8 img9";
	}
	.grid-img1 {
		grid-area: img1;
	}
	.grid-img2 {
		grid-area: img2;
	}
	.grid-img3 {
		grid-area: img3;
	}
	.grid-img4 {
		grid-area: img4;
	}
	.grid-img5 {
		grid-area: img5;
	}
	.grid-img6 {
		grid-area: img6;
	}
	.grid-img7 {
		grid-area: img7;
	}
	.grid-img8 {
		grid-area: img8;
	}
	.grid-img9 {
		grid-area: img9;
	}
	.grid-imgs {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	#btn-top-gal {
		display: none;
		position: fixed;
		bottom: 15px;
		right: 20px;
		z-index: 99;
		border: none;
		outline: none;
		background-color: rgb(187, 93, 93);
		color: white;
		cursor: pointer;
		padding: 0.5rem 1rem;
		border-radius: 0.3rem;
		font-size: 1.1rem;
		font-style: italic;
	}
	/*On Hover Color Change*/
	#btn-top-gal:hover {
		background-color: #e29689;
	}
}

/**************** Mobile support ****************/

@media only screen and (max-width: 576px) {
	header .container {
		display: block;
		text-align: center;
		padding: 1rem;
	}
	.hero-banner h3 {
		font-size: 1.5rem;

		position: relative;
	}
	.half-title {
		color: white;
	}
	header nav ul {
		margin-top: 0.5rem;
		text-align: center;
	}
	header nav ul li {
		padding: 1rem 2rem;
	}

	.hero-banner {
		height: 10vh;
		width: 100%;
	}
	.logo {
		margin-left: 15%;
	}

	.card {
		width: 100%;
		margin-top: 1rem;
	}

	input,
	textarea,
	label {
		width: 100%;
	}
	.form-group {
		padding: 0.5rem;
	}
	label {
		margin-bottom: 0.5rem;
	}
	.grid-container {
		height: 100vh;
		margin: 5rem 1rem;
		display: grid;
		grid-gap: 0.3rem;
		background-color: #f6f6f6ff;
		grid-template-columns: 3fr;
		grid-template-rows: 3fr;
		grid-template-areas:
			"img1 img2 img3"
			"img4 img5 img6"
			"img7 img8 img9";
	}
	.grid-img1 {
		grid-area: img1;
	}
	.grid-img2 {
		grid-area: img2;
	}
	.grid-img3 {
		grid-area: img3;
	}
	.grid-img4 {
		grid-area: img4;
	}
	.grid-img5 {
		grid-area: img5;
	}
	.grid-img6 {
		grid-area: img6;
	}
	.grid-img7 {
		grid-area: img7;
	}
	.grid-img8 {
		grid-area: img8;
	}
	.grid-img9 {
		grid-area: img9;
	}
	.grid-imgs {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	#btn-top-gal {
		display: none;
		position: fixed;
		bottom: 5px;
		right: 10px;
		z-index: 99;
		border: none;
		outline: none;
		background-color: rgb(187, 93, 93);
		color: white;
		cursor: pointer;
		padding: 0.3rem 0.5rem;
		border-radius: 0.3rem;
		opacity: 0.8;
		font-size: 0.6rem;
		font-style: italic;
		letter-spacing: 2px;
	}
	/*On Hover Color Change*/
	#btn-top-gal:hover {
		background-color: #e29689;
	}
}
